/*! normalize.scss v3.0.3 | MIT License | github.com/necolas/normalize.scss */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,800&display=swap");
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

*, *:after, *:before {
  box-sizing: border-box; }

.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.ba-container, .ba-container-center {
  margin-left: auto;
  margin-right: auto; }

img {
  max-width: 100%;
  height: auto; }

html {
  height: 100%; }

body, html {
  min-height: 100%; }

/* Text align */
.ba-text-left {
  text-align: left; }

.ba-text-right {
  text-align: right; }

.ba-text-center {
  text-align: center; }

/* Absolute centering */
.ba-relative {
  position: relative; }

.ba-absolute-center {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; }

/* Circle element */
.ba-circle {
  border-radius: 50%; }

/* Grid clearfix */
.ba-grid:before, .ba-grid:after {
  content: " ";
  display: table; }

.ba-grid:after {
  clear: both; }

.ba-grid + .ba-grid {
  margin-top: 30px; }

[class*="ba-width-"] {
  width: 100%; }

.ba-grid > [class*="ba-width-"] {
  float: left;
  padding-left: 30px; }

.ba-grid {
  margin-left: -30px; }

/* No Padding Grid */
.ba-grid-nopad {
  margin-left: 0; }

.ba-grid-nopad + .ba-grid-nopad {
  margin-top: 0; }

.ba-grid-nopad > [class*="ba-width-"] {
  padding-left: 0; }

.ba-width-1-2, .ba-width-2-4, .ba-width-3-6 {
  width: 50%; }

.ba-width-1-3, .ba-width-2-6 {
  width: 33.333%; }

.ba-width-2-3, .ba-width-4-6 {
  width: 66.667%; }

.ba-width-1-4 {
  width: 25%; }

.ba-width-3-4 {
  width: 75%; }

.ba-width-1-5 {
  width: 20%; }

.ba-width-2-5 {
  width: 40%; }

.ba-width-3-5 {
  width: 60%; }

.ba-width-4-5 {
  width: 80%; }

.ba-width-1-6 {
  width: 16.667%; }

.ba-width-5-6 {
  width: 83.333%; }

.ba-width-1-7 {
  width: 14.2857%; }

.ba-width-1-8 {
  width: 12.5%; }

.ba-width-1-9 {
  width: 11.1111%; }

.ba-width-1-10 {
  width: 10%; }

.ba-width-1-12 {
  width: 8.3334%; }

/* Flex grid */
.ba-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -30px; }

.ba-row + .ba-row {
  margin-top: 30px; }

.ba-row > [class*='ba-col-'] {
  padding-left: 30px; }

.ba-row--collapse {
  margin-left: 0; }

.ba-row--collapse + .ba-row--collapse {
  margin-top: 0; }

.ba-row--collapse > [class*="ba-col-"] {
  padding-left: 0; }

.ba-col-12 {
  width: 100%; }

.ba-col-11 {
  width: 91.6666%; }

.ba-col-10 {
  width: 83.3333%; }

.ba-col-9 {
  width: 75%; }

.ba-col-8 {
  width: 66.6666%; }

.ba-col-7 {
  width: 58.33%; }

.ba-col-6 {
  width: 50%; }

.ba-col-5 {
  width: 41.66%; }

.ba-col-4 {
  width: 33.333%; }

.ba-col-3 {
  width: 25%; }

.ba-col-2 {
  width: 16.666%; }

.ba-col-1 {
  width: 8.3333%; }

body {
  font: 400 15px/1.67 "Raleway", sans-serif;
  color: #ffffff; }

/* Layout */
.ba-container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1480px; }

/* Typography */
h1 {
  font: 900 55px/1.18 "Raleway", sans-serif;
  color: #ffffff;
  text-transform: uppercase; }

h2 {
  font: 700 45px/1 "Raleway", sans-serif;
  color: #061e37; }

h3 {
  font: 700 25px/1 "Raleway", sans-serif;
  color: #b0bec5; }

h4 {
  font: 700 20px/1 "Raleway", sans-serif;
  color: #061e37;
  line-height: 1.25; }

h5 {
  font: 700 18px/1 "Raleway", sans-serif;
  color: #061e37;
  line-height: 1.25; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

p {
  margin: 0; }

a,
input[type="submit"],
input[type="button"],
button {
  transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in; }

input[type="submit"],
input[type="button"],
button,
.ba-button {
  display: inline-block;
  background: transparent;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: 0 8px 18px -10px #051E38; }

.ba-button__started--reviews {
  background: #001835;
  padding: 20px 25px; }
  .ba-button__started--reviews:hover {
    background-color: #00E9B5; }

.ba-button--send {
  background-color: #00E9B5; }

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover {
  color: #061e37; }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
  transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in; }

.ba-intro {
  background: #00D5CD url(../img/introbg.jpg) center center no-repeat;
  background-color: rgba(0, 213, 205, 0.5);
  background-size: cover;
  padding-top: 50px;
  position: relative; }
  .ba-intro:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 213, 205, 0.5); }
  .ba-intro__wrapper {
    position: relative;
    z-index: 2; }

.ba-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 900px) {
    .ba-header {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media screen and (max-width: 520px) {
    .ba-header__logo {
      -webkit-align-self: flex-start;
          -ms-flex-item-align: start;
              align-self: flex-start; } }

.ba-menu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0; }
  .ba-menu__item {
    margin-left: 50px; }
    .ba-menu__item:first-child {
      margin-left: 0; }
    @media screen and (max-width: 520px) {
      .ba-menu__item {
        margin-left: 0; } }
  .ba-menu__link {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold; }
    .ba-menu__link--active {
      color: #061e37; }
    .ba-menu__link:hover {
      color: #061e37; }
  @media screen and (max-width: 900px) {
    .ba-menu {
      margin-top: 20px;
      margin-bottom: 20px; } }
  @media screen and (max-width: 520px) {
    .ba-menu {
      position: fixed;
      z-index: 10;
      right: 0;
      top: 0;
      bottom: 0;
      width: 200px;
      background: #504d5f;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 20px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-transform: translateX(100%);
          -ms-transform: translateX(100%);
              transform: translateX(100%);
      transition: -webkit-transform .3s ease-in;
      transition: transform .3s ease-in;
      transition: transform .3s ease-in, -webkit-transform .3s ease-in; } }

.ba-menu-toggle {
  display: none; }
  @media screen and (max-width: 520px) {
    .ba-menu-toggle {
      display: block;
      position: absolute;
      -webkit-align-self: flex-end;
          -ms-flex-item-align: end;
              align-self: flex-end;
      padding: 0 20px; }
      .ba-menu-toggle span {
        width: 30px;
        height: 4px;
        background: #ffffff;
        position: relative;
        display: block;
        margin: 20px 0;
        transition: background .3s ease-in; }
        .ba-menu-toggle span:before, .ba-menu-toggle span:after {
          position: absolute;
          content: "";
          display: block;
          width: 30px;
          height: 4px;
          background: #ffffff;
          left: 0;
          right: 0;
          transition: -webkit-transform .3s ease-in;
          transition: transform .3s ease-in;
          transition: transform .3s ease-in, -webkit-transform .3s ease-in; }
        .ba-menu-toggle span:before {
          top: -8px; }
        .ba-menu-toggle span:after {
          bottom: -8px; } }

@media screen and (max-width: 520px) {
  body {
    transition: -webkit-transform .3s ease-in;
    transition: transform .3s ease-in;
    transition: transform .3s ease-in, -webkit-transform .3s ease-in; }

  .ba-menu-opened {
    -webkit-transform: translateX(-200px);
        -ms-transform: translateX(-200px);
            transform: translateX(-200px);
    overflow: hidden; }
    .ba-menu-opened .ba-menu-toggle span {
      background: transparent; }
      .ba-menu-opened .ba-menu-toggle span:before {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        top: 0; }
      .ba-menu-opened .ba-menu-toggle span:after {
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        bottom: 0; } }
.ba-nav__shadow-menu-icon {
  position: relative;
  text-align: center;
  display: none;
  width: 30px;
  height: 30px; }
  .ba-nav__shadow-menu-icon:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 30px;
    height: 3px;
    background: white;
    box-shadow: 0 8px 0 0 white, 0 16px 0 0 white;
    transition: background .3s ease-in, box-shadow .3s ease-in; }
  @media screen and (max-width: 520px) {
    .ba-nav__shadow-menu-icon {
      display: block;
      margin: 0 auto; } }
  .ba-nav__shadow-menu-icon:hover:before {
    background: green;
    box-shadow: 0 8px 0 0 green, 0 16px 0 0 green; }

.ba-button__signup {
  text-transform: lowercase;
  border: 1px solid #ffffff;
  box-shadow: none; }
  .ba-button__signup:hover {
    border-color: #061e37; }
  @media screen and (max-width: 520px) {
    .ba-button__signup {
      -webkit-align-self: flex-start;
          -ms-flex-item-align: start;
              align-self: flex-start; } }

.ba-intro__main {
  padding-top: 130px;
  padding-bottom: 180px; }

.ba-intro__main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media screen and (max-width: 1240px) {
    .ba-intro__main {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }
.ba-intro__col {
  max-width: 600px; }
  @media screen and (max-width: 1240px) {
    .ba-intro__col {
      margin-bottom: 40px; }
      .ba-intro__col:last-child {
        margin-bottom: 0; } }
.ba-intro__title {
  font-size: 55px;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: 1.5px;
  margin-bottom: 20px; }
.ba-intro__text {
  color: #ffffff;
  line-height: 2;
  font-size: 18px;
  margin-bottom: 30px; }
.ba-intro__video {
  position: relative;
  height: 100%;
  width: 100%; }
  .ba-intro__video iframe {
    width: 600px;
    height: 100%; }
    @media screen and (max-width: 1240px) {
      .ba-intro__video iframe {
        height: 400px;
        max-width: 600px; } }
    @media screen and (max-width: 600px) {
      .ba-intro__video iframe {
        height: 200px;
        max-width: 300px; } }
  .ba-intro__video:before {
    content: '';
    position: absolute;
    z-index: 2;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.4); }
  .ba-intro__video:after {
    position: absolute;
    content: "WATCH TE VIDEO";
    bottom: 30%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    color: black;
    font-weight: bold;
    z-index: 5; }
  .ba-intro__video:hover:before {
    display: none; }

.ba-button__buy {
  padding: 20px 30px;
  background: #051E38;
  border: none; }
  .ba-button__buy:hover {
    background-color: #ffffff; }
  @media screen and (max-width: 365px) {
    .ba-button__buy {
      display: block;
      text-align: center;
      margin: 0;
      margin-bottom: 10px; } }

.ba-button__tryfree {
  padding: 20px 30px;
  background: #ffffff;
  color: #051E38;
  margin-left: 30px; }
  .ba-button__tryfree:hover {
    color: #ffffff;
    background-color: #061e37; }
  @media screen and (max-width: 365px) {
    .ba-button__tryfree {
      display: block;
      margin: 0; } }

.ba-advantages {
  padding: 100px 0 90px;
  background-color: #ffffff;
  text-align: center; }
  .ba-advantages__header {
    text-align: center;
    color: #b0bec5;
    max-width: 572px;
    margin: 0 auto;
    margin-bottom: 70px; }
  .ba-advantages__title {
    margin-bottom: 12px; }
  .ba-advantages__row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 65px; }
    @media screen and (max-width: 1118px) {
      .ba-advantages__row {
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  .ba-advantages__item {
    -webkit-flex-basis: 360px;
        -ms-flex-preferred-size: 360px;
            flex-basis: 360px;
    text-align: center;
    padding: 0 5px; }
    .ba-advantages__item h4 {
      margin-top: 25px; }
    .ba-advantages__item P {
      color: #78909c; }
  .ba-advantages__img {
    height: 80px; }
  .ba-advantages .ba-button__started {
    background-color: #00E9B5;
    text-align: center; }
    .ba-advantages .ba-button__started:hover {
      background-color: #061e37;
      color: #ffffff; }

.ba-achivments__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  background-color: #31D9FF; }
.ba-achivments__item {
  width: 25%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 45px 0;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 700px) {
    .ba-achivments__item {
      width: 50%; } }
  @media screen and (max-width: 450px) {
    .ba-achivments__item {
      width: 100%; } }
  .ba-achivments__item p {
    padding-left: 23px;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.25; }
  .ba-achivments__item--business {
    background-color: #31D9FF; }
  .ba-achivments__item--downloads {
    background-color: #68B2FF; }
  .ba-achivments__item--person {
    background-color: #C289FF; }
  .ba-achivments__item--prousers {
    background-color: #FF81FF; }
.ba-achivments__img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #ffffff;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.ba-services {
  padding: 100px 20px;
  color: #061e37;
  text-align: center; }
  .ba-services__title {
    font-weight: 600;
    margin-bottom: 20px; }
  .ba-services__subtitile {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 40px; }

.ba-service-block {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 5px 20px 0 #b0bec5; }
  .ba-service-block__header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 10px; }
  .ba-service-block__name {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .ba-service-block__name img {
      height: 15px; }
    .ba-service-block__name p {
      margin: 0;
      padding-left: 20px;
      text-transform: uppercase;
      font-weight: bold; }
  .ba-service-block__arrow {
    border: none;
    box-shadow: none;
    padding: 0 10px;
    transition: -webkit-transform .4s ease-in;
    transition: transform .4s ease-in;
    transition: transform .4s ease-in, -webkit-transform .4s ease-in;
    outline: none; }
    .ba-service-block__arrow:hover {
      -webkit-transform: scale(2);
          -ms-transform: scale(2);
              transform: scale(2); }
  .ba-service-block__main {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 700px) {
      .ba-service-block__main {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; } }
  .ba-service-block__img {
    width: 33%; }
    @media screen and (max-width: 700px) {
      .ba-service-block__img {
        width: 100%; } }
  .ba-service-block__text {
    width: 67%;
    text-align: left;
    padding-left: 20px; }
    @media screen and (max-width: 700px) {
      .ba-service-block__text {
        width: 100%; } }
  .ba-service-block--view-no
  .ba-service-block__main {
    display: none; }

.ba-customer__slide {
  margin-top: 30px;
  margin-bottom: 30px; }

.ba-customers-reviews {
  background: #00D5CD url(../img/reviewbg.jpg) center center no-repeat;
  background-color: rgba(0, 213, 205, 0.5);
  background-size: cover;
  padding: 40px 0;
  position: relative; }
  .ba-customers-reviews:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 213, 205, 0.9); }
  .ba-customers-reviews__wrapper {
    position: relative;
    z-index: 2; }
  .ba-customers-reviews__block {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .ba-customers-reviews__block:last-child {
      margin-bottom: 0; }
    @media screen and (max-width: 1100px) {
      .ba-customers-reviews__block {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .ba-customers-reviews__title {
    color: #ffffff;
    font-weight: 600;
    line-height: 1.25;
    margin-top: 80px;
    margin-bottom: 25px; }
  .ba-customers-reviews__text {
    max-width: 555px;
    margin-bottom: 75px; }
  .ba-customers-reviews__img {
    width: 65px;
    height: 65px;
    border-radius: 50%; }
  .ba-customers-reviews__name {
    margin-bottom: 15px; }
  .ba-customers-reviews__answer {
    font-style: italic; }
  .ba-customers-reviews__review {
    max-width: 650px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 33px;
    color: #78909c; }
  .ba-customers-reviews .ba-col-46 {
    width: 46%; }
  .ba-customers-reviews .ba-col-54 {
    width: 54%; }
  .ba-customers-reviews .ba-slider__arrow {
    width: 27px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 0;
    box-shadow: none;
    background-color: transparent;
    border: none;
    position: relative;
    left: 50%;
    transition: -webkit-transform .3s ease-in;
    transition: transform .3s ease-in;
    transition: transform .3s ease-in, -webkit-transform .3s ease-in; }
    .ba-customers-reviews .ba-slider__arrow--prev {
      background-image: url(../img/preview-arrow-top.png);
      top: -5px; }
    .ba-customers-reviews .ba-slider__arrow--next {
      background-image: url(../img/preview-arrow-bottom.png);
      background-position: 0% 45%;
      bottom: 0; }
    .ba-customers-reviews .ba-slider__arrow:hover {
      -webkit-transform: scale(1.5);
          -ms-transform: scale(1.5);
              transform: scale(1.5); }
  .ba-customers-reviews .slick-arrow {
    width: 27px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 0;
    box-shadow: none;
    background-color: transparent;
    border: none;
    position: relative;
    left: 50%;
    transition: -webkit-transform .3s ease-in;
    transition: transform .3s ease-in;
    transition: transform .3s ease-in, -webkit-transform .3s ease-in;
    outline: none; }
    .ba-customers-reviews .slick-arrow:hover {
      -webkit-transform: scale(1.5);
          -ms-transform: scale(1.5);
              transform: scale(1.5); }
  .ba-customers-reviews .slick-prev {
    background-image: url(../img/preview-arrow-top.png);
    top: -5px; }
  .ba-customers-reviews .slick-next {
    background-image: url(../img/preview-arrow-bottom.png);
    bottom: 0; }
  @media screen and (max-width: 800px) {
    .ba-customers-reviews .ba-col-46, .ba-customers-reviews .ba-col-54 {
      width: 100%; } }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.ba-team {
  padding: 100px 0 90px; }
  .ba-team__title {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 20px; }
  .ba-team__text {
    text-align: center;
    color: #b0bec5;
    max-width: 565px;
    margin: 0 auto;
    margin-bottom: 65px; }
  .ba-team__slider {
    max-width: 600px;
    margin: 0 auto; }
  .ba-team__slide {
    margin: 0 30px;
    padding: 80px 0;
    border: none;
    outline: none; }
  .ba-team .slick-center img {
    border-radius: 50%;
    border: 10px solid #ffffff;
    box-shadow: 0 0 10px 4px #b0bec5;
    -webkit-transform: scale(2);
        -ms-transform: scale(2);
            transform: scale(2);
    transition: -webkit-transform .3s ease-in;
    transition: transform .3s ease-in;
    transition: transform .3s ease-in, -webkit-transform .3s ease-in; }
  .ba-team__gallery {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px; }
  .ba-team__img {
    margin-left: 30px;
    border-radius: 50%;
    width: 100px;
    height: 100px; }
  .ba-team__img:first-child {
    margin-left: 0; }
  .ba-team__description {
    max-width: 650px;
    margin: 0 auto; }
  .ba-team__name {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 20px; }
  .ba-team__portrait {
    color: #90a4ae;
    text-align: center; }
  .ba-team__sociallist {
    list-style: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .ba-team__socialitem {
    margin-left: 25px; }
  .ba-team__socialitem:first-child {
    margin-left: 0; }
  .ba-team__sociallink img {
    transition: -webkit-transform .3s ease-in;
    transition: transform .3s ease-in;
    transition: transform .3s ease-in, -webkit-transform .3s ease-in; }
  .ba-team__sociallink:hover img {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3); }

.ba-contact {
  padding: 50px 0 100px;
  background-color: #FAFAFA;
  color: #061e37; }
  .ba-contact__header {
    max-width: 570px;
    margin: 0 auto;
    color: #061e37;
    text-align: center;
    margin-bottom: 50px; }
  .ba-contact__title {
    margin-bottom: 20px; }
  .ba-contact__text {
    text-align: center; }
  .ba-contact__form {
    max-width: 600px;
    margin: 0 auto; }
  .ba-contact__row {
    border: none; }
    .ba-contact__row--name input, .ba-contact__row--email input {
      width: 46%;
      margin-left: 40px;
      padding: 15px; }
    .ba-contact__row--name input:first-child, .ba-contact__row--email input:first-child {
      margin-left: 0; }
    .ba-contact__row textarea {
      width: 100%;
      padding: 15px; }
    .ba-contact__row--send {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 15px;
      padding-top: 0; }
      .ba-contact__row--send input {
        box-shadow: 0 0 2px 2px #000000; }
      .ba-contact__row--send span {
        margin-left: 10px; }
    @media screen and (max-width: 630px) {
      .ba-contact__row input {
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px; } }

.ba-footer {
  background-color: #001835;
  padding-top: 100px;
  padding-bottom: 100px; }
  .ba-footer__nav {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px; }
    .ba-footer__nav .ba-menu__link:hover {
      color: #00E9B5; }
    @media screen and (max-width: 600px) {
      .ba-footer__nav {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
  .ba-footer__row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 600px) {
      .ba-footer__row {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
  .ba-footer__policy {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding-left: 0; }
  .ba-footer__policyitem {
    margin-left: 50px;
    position: relative; }
    .ba-footer__policyitem:first-child {
      margin-left: 0; }
    .ba-footer__policyitem:before {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #ffffff;
      left: -23px;
      top: 10px; }
    .ba-footer__policyitem:first-child:before {
      width: 0;
      height: 0; }
  .ba-footer__policylink {
    color: #ffffff;
    text-decoration: none; }
    .ba-footer__policylink:hover {
      color: #00E9B5; }
  .ba-footer__sociallist {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding-left: 0; }
  .ba-footer__socialitem {
    margin-left: 20px; }
  .ba-footer__sociallink img {
    transition: -webkit-transform .3s ease-in;
    transition: transform .3s ease-in;
    transition: transform .3s ease-in, -webkit-transform .3s ease-in; }
  .ba-footer__sociallink:hover img {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3); }

/*# sourceMappingURL=style.css.map */
